header{
    background-image: url('./bannerbg.png');
    background-position: center;
    text-align: center;
}
header img{
    max-width: 400px;
}
@media (max-width: 475px) {
    header h3 {
        margin-top: -20px;
        font-size: 20px;
    }
}