#login {
    background: url('./loginBg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login h3 {
    color: #e9004d;
}
#login #loginForm {
    width: 300px;
}